<html>
	<head>
		<title>Registration</title>
	</head>
	<body>
		<p>Register key</p>
		<form action="/key/register" method="get">
			<input type="email" name="email" placeholder="email"><br>
			<input type="text" name="key" placeholder="key"><br>
			<input type="submit" value="Register">
		</form>

		<p>Create group:</p>
		<form action="/key/create" method="get">
			<input type="text" name="gid" placeholder="gid"><br>
			<input type="email" name="adminid" placeholder="admin email"><br>
			<input type="submit" value="Create">
		</form>

		<p>Add user to group:</p>
		<form action="/key/add" method="get">
			<input type="text" name="gid" placeholder="gid"><br>
			<input type="text" name="aid" placeholder="admin email"><br>
			<input type="email" name="email" placeholder="email"><br>
			<input type="submit" value="Add">
		</form>

	</body>
</html>
